@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.Logo{
    border-radius: 50%;
    width: auto;
    height: 100px;
    z-index: 2;
}
.restaurant-name{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
/* 'lobster',cursive 
'Bebas Neue', sans-serif*/
.title{
    border: 10px solid black;
    background-color: black;
    height: 45px;
    color: white;
    display: flex;
}
.options{
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(234, 88, 16);
    background-color: rgb(234, 88, 16);
    height: 45px;
}
.options a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 550;
}
.options ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.options li{
    margin: 0 15px;
}
.profile-icon {
    font-size: 30px;
    margin-left:auto;
    color: white;
    cursor: pointer;
}
.body{
    background-color: rgb(246, 167, 135);
    height: 550px;
    width: auto;
}